<% include partials/header %>


<h1><%= currentUser.fullname %></h1>


<form action="/genword" method="POST">
	<button>Generate CV</button>
</form>

<a href="/logout">Logout</a>

<a href="./CV/<%= currentUser.folder %>/CV.docx">Download</a>

<% include partials/footer %>