<!DOCTYPE html>
<html>
<head>
	<title>Student</title>
</head>
<body>


<h1><%= currentUser %></h1>
<h1><%= currentUser.fullname %></h1>
<h1><%= currentUser.email %></h1>

<h1 style="font-weight: 900;"><a href="/">Go Back</a></h1>

</body>
</html>