<% include partials/header %>


<h1><%= currentUser.fullname %></h1>


<form action="/genword" method="POST">
	<button>Generate CV</button>
</form>

<a href="/logout">Logout</a>

<% files.forEach(function(CV){ %>
<a href="./CV/<%= currentUser.folder %>/<%= CV %>">
	<h1>
	<%= CV %>	
	</h1>	
</a>

<% }) %>

<% include partials/footer %>